.user-container {
    margin-top: 0;
    height: 678px;
    position: sticky;
    top: 18px;
    margin-right: 5px;
}

.user-profile {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
}

.user-profile img {
    width: 130px;
    border-radius: 20px;
    margin-right: 15px;
    padding-top: 10px;
}

.user-profile h2 {
    margin-bottom: 0;
    padding-right: 10px;
}

.user-profile h4 {
    margin-top: 0;
}

.user-weight {
    display: flex;
    align-items: baseline;
    height: 65px;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    border-radius: 20px;
}

.user-info h3 {
    margin-top: 0;
}

.user-info-details {
    padding-left: 30px;
    background-color: rgb(170, 166, 166);
    border-radius: 20px;
}

.user-info h3 {
    font-weight: 400;
}

.break-info {
    display: flex;
    justify-content: center;

}

.btn-break {
    margin-right: 20px;
    width: 50px;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(175, 170, 170);
}

.btn-break:hover {
    background-color: cornflowerblue;
}

.exercise-details h2 {
    margin-bottom: 10px;
}

.exercise-details h3 {
    padding-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.activity-completed {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: rgb(88, 124, 231);
    font-size: large;
    color: white;
    font-weight: 400;
    border-radius: 20px;
}