.user-container {
    margin-top: 0;
    height: 700px;
    position: sticky;
    top: 18px;
    border: 1px solid black;
    margin-right: 5px;
}

.user-profile {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.user-profile img {
    width: 150px;
    border-radius: 30px;
    margin-right: 15px;
}

.user-profile h2 {
    margin-bottom: 0;
    padding-right: 10px;
}

.user-profile h4 {
    margin-top: 0;
}

.user-weight {
    display: flex;
    align-items: baseline;
    height: 65px;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    border-radius: 20px;
}

.user-info h3 {
    margin-top: 0;
}

.user-info-details {
    padding-left: 30px;
    background-color: rgb(170, 166, 166);
    border-radius: 20px;
}

.user-info h3 {
    font-weight: 400;
}