.akatsuki {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.header-and-exercises {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
}

.exercise-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}